{% embed 'symcom4/admin/template_sb2/elements/_card_with_menu.html.twig' with {'structure': structure, 'idPage': idPage} only %}
    {% if structure.association.sigle != null %}
        {% set titre = structure.nom ~ '(' ~ structure.association.sigle ~ ')' %}
    {% else %}
        {% set titre = structure.nom %}
    {% endif %}

    {% set actions =    {
                            'Editer': path('admin_structures_association_edit', {'idstructure': structure.id, 'idpagemere': idPage })
                        }
    %}
    {% block contenu %}
        <div class="row">
            <div class="{{ taille(1, 1) }}">
                {% if structure.local == true %}
                    LOGO Guesnain
                {% else %}
                    Exterieur
                {% endif %}
            </div>
            <div class="{{ taille(11, 11) }}">
                <p>{{ structure.presentation }}</p>
            </div>
        </div>
    {% endblock %}
{% endembed %}