{% embed 'symcom4/admin/template_sb2/elements/_card_with_menu.html.twig' with {'idPage': idPage, 'parent': parent} only %}
    {% set titre = 'Site Internet' %}
    {% if parent.lien != null %}
        {% set actions =    {
                                'Editer': path('admin_structure_editlien', {'idstructure': parent.id, 'idlien': parent.lien.id, 'idpagemere': idPage}),
                                'Supprimer': path('admin_structure_deletelien', {'idstructure': parent.id, 'idlien': parent.lien.id, 'idpagemere': idPage})
                            }
        %}
    {% else %}
        {% set actions =    {
                            }
        %}
    {% endif %}

    {% block contenu %}
        {% if parent.lien != null %}
            <a href="{{ parent.lien.url }}" target="_blank">{{ parent.lien.label }}</a>
        {% else %}
            <div class='text-center'>{{ path('admin_structure_addlien', {'idstructure': parent.id, 'idpagemere': idPage}) | LienBtnWithIcon('Ajouter un site Internet', ['fa-plus', 'fa-globe'], 'success')}}</div>
        {% endif %} 
    {% endblock %}
    
{% endembed %}