{% embed 'symcom4/admin/template_sb2/elements/_card_with_menu.html.twig' with {'idPage': idPage, 'parent': parent} only %}
    {% set titre = 'Photo' %}
    {% set actions =    
                        {
                        }
    %}

    {% block contenu %}
        {% if parent.image != null %}
            <img src='{{ asset(parent.image.media.recupAsset()|imagine_filter('reduc')) }}' class='img-thumbnail' />            
        {% else %}
            <div class='text-center'>{{ path('admin_structure_choisirimage', {'idstructure': parent.id, 'idpagemere': idPage}) | LienBtnWithIcon('Ajouter une photo', ['fa-plus', 'fa-image'], 'success')}}</div>
        {% endif %} 
    {% endblock %}
    
{% endembed %}