{% if mails | length > 0 %}
    {% embed 'symcom4/admin/template_sb2/elements/_table_mini.html.twig' with {'idPage': idPage, 'parent': parent, 'mails': mails} only %}
        {% set nomColonnes = ['E-mails', 'Actions'] %}
        {% block tbody %}
            {% for mail in mails %}
                <tr>
                    <td>{{ mail.adresse }}</td>
                    <td>
                        {{ path('admin_structure_fonction_editcontact', {'idfonction': parent.id, 'idcontact': mail.contact.id, 'idpagemere': idPage }) | LienBtnRond('Editer', 'fa-edit', 'primary') }}
                        {{ path('admin_structure_fonction_deletecontact', {'idfonction': parent.id, 'idcontact': mail.contact.id, 'idpagemere': idPage}) | LienBtnRond('Supprimer', 'fa-trash', 'danger') }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endif %}
            
<div class='text-center'>{{ path('admin_structure_fonction_addcontact', {'idfonction': parent.id, 'type': 'mail', 'idpagemere': idPage}) | LienBtnWithIcon('Ajouter une adresse e-mail', ['fa-plus', 'fa-at'], 'success')}}</div>