{% extends 'mediatheque_drive/_base_mediatheque_drive.html.twig' %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title">Message aux adhérents de la Médiathèque</h5>
        </div>

        <div class="card-body">
            <p class="card-text">
                Les locaux de la Médiathèque étant fermés durant la crise sanitaire actuelle,<br/>nous vous proposons un service temporaire de prêts et retours sur rendez-vous.
            </p>
            <p class="card-text">
                Laissez-vous guider...
            </p>
        </div>

        <div class="card-footer">
            <div class="card">
                <a href="{{ path('mediatheque_drive_choix_log') }}" class="btn btn-success">
                    <i class="fas fa-angle-double-right"></i>
                    Démarrer
                </a>
            </div>
        </div>
    </div>

<br/>
    <div class="row">
        <div class='col-12'>
            <h4>Vidéos de présentation du drive</h4>
        </div>
        <div class='col-md-6'>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/NQlWipZyVLg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Je ne souhaite pas emprunter de documents mais juste effectuer un retour.</p>
        </div>
        <div class='col-md-6'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DIUctdPPSIQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Demander aux agents de me préparer une sélection personnalisée.</p>
        </div>

        <div class='col-md-6'>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/cIikcX5IVCU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Voir le catalogue et passer une commande.</p>
        </div>
        <div class='col-md-6'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1F8BLI5Zvnw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Passer une commande pour toute une famille.</p>
        </div>
    </div>
{% endblock %}