{% extends 'drive_mediatheque/_base_drive_mediatheque.html.twig' %}

{% block content %}
    <h5 class="card-title">Mon espace Personnel : {{ app.user.humain.nom | upper }} {{ app.user.humain.prenom | title}}</h5>
    <p class="card-text">
        ...
    </p>
    <div class="row">
        <div class="col-md-6 mb-3">
            <p>Je souhaites emprunter des documents à la Médiathèque.<br/>(Livre, CD et DVD)</p>
            <a href="{{ path('drive_mediatheque_typeemprunt') }}" class="btn btn-success">
                <i class="fas fa-sign-out-alt"></i>
                Emprunter des documents
            </a>
        </div>
        <div class="col-md-6 mb-3">
            <p>Je ne souhaites pas emprunter<br/>mais juste effectuer un retour de documents.</p>
            <a href="#" class="btn btn-success">
                <i class="fas fa-sign-in-alt"></i>
                Effectuer un retour
            </a>
        </div>
    </div>
{% endblock %}