{% extends 'drive_mediatheque/_base_drive_mediatheque.html.twig' %}

{% block content %}
    <h5 class="card-title">Inscription ou Connexion</h5>
    <p class="card-text">
        Lors de votre première visite, vous devez vous inscrire afin d'obtenir vos codes d'accès.
    </p>
    <p>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <a href="{{ path('drive_mediatheque_inscription') }}" class="btn btn-success">
                    <i class="fas fa-clipboard-check"></i>
                    C'est ma première visite !
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <a href="{{ path('drive_mediatheque_account') }}" class="btn btn-primary">
                    <i class="fas fa-key"></i>
                    J'ai déjà mes codes d'accès !
                </a>
            </div>
        </div>
    </div>
{% endblock %}