{% extends 'drive_mediatheque/_base_drive_mediatheque.html.twig' %}

{% block content %}
        <div class="alert alert-warning">
            <p>Votre mot de passe est composé de votre jour et mois de naissance sur 4 chiffres.<br/>(exemple : le 5 février 1980 donne 0502)</p>
        </div>
    <h5 class="card-title">Connectez-vous !</h5>
        
    <p>Veuillez compléter le formulaire ci-dessous :</p>
    {% if hasError %}
        <div class="alert alert-warning">
            <p>Les informations que vous avez fournies sont incorrectes.</p>
        </div>
    {% endif %}

    <form method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="_username">Identifiant de votre carte :</label>
                    <input type="text" class="form-control" placeholder="La lettre A suivit de 4 chiffres..." name="_username">
                </div>
                <div class="col-md-6">
                    <label for="_password">Mot de passe</label>
                    <input type="password" class="form-control" placeholder="Mot de passe..." name="_password">
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id='login_connexion' class="btn btn-success"><i class="fas fa-lock-open"></i> Connexion !</button>
            <br/>
            <a href="{{ path('drive_mediatheque')}}" class="btn btn-link">
                <i class="fas fa-arrow-circle-left"></i>
                Retour à l'accueil
            </a>
        </div>
    </form>
{% endblock %}