{# ==> requipe fonction #}

{% if fonction.humain != null %}
    <div class='row'>
        {% if fonction.humain.sexe == 'f' %}
            <div class='col-2 text-center'>
                <i class="fas fa-female"></i>
            </div>
            <div class='col-10'>
                <b>{{ fonction.typeFonction.titreFeminin }} :</b><br/>
                {% include 'site/partials/entitys/humain/#humain_affichage.html.twig' with {'humain': fonction.humain} only %}
            </div>
        {% else %}
            <div class='col-2 text-center'>
                <i class="fas fa-male"></i>
            </div>
            <div class='col-10'>
                <b>{{ fonction.typeFonction.titre }} :</b><br/>
                {% include 'site/partials/entitys/humain/#humain_affichage.html.twig' with {'humain': fonction.humain} only %}
            </div>
        {% endif %}



        
        
    </div>
{% endif %}