{# ==> require contact (avec téléphone) #}

{# --- AFFICHE LES NUMEROS DE TELEPHONES AVEC ICONES #}

<div class='row'>
    <div class='col-2 text-center'>
        <i class="fas fa-phone"></i>
    </div>
    <div class='col-10'>
        {{ contact.telephone.numero }}
    </div>
</div>