{# ==> require contact (avec mail) #}

{# --- AFFICHAGE DES MAILS AVEC ICONES --- #}
<div class='row'>
    <div class='col-2 text-center'>
        <i class="fas fa-envelope"></i>
    </div>
    <div class='col-10'>
        {{ contact.mail.adresse }}
    </div>
</div>