<div class='row'>
    <div class='col-6'>
        <p class='text-center bold'><strong>Culture</strong></p>
        <a class="dropdown-item" href="{{ path('structure', {'slugstructure': 'mediatheque'}) }}">Médiathèque</a>
        <div class="dropdown-divider"></div>
        <p class='text-center bold'><strong>Sport</strong></p>
        <a class="dropdown-item" href="#">???</a>
    </div>
    <div class='col-6'>
        Divers
    </div>    
</div>