{% extends 'symcom4/admin/partials/_base_admin.html.twig' %}

{% block title %}
    {{ parent() }} - Médias
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                Gestion des dossiers
                {% include 'symcom4/admin/partials/_liensrapides.html.twig' %} 
            </div>
        </div>
    </div>
</div>
{% endblock %}