<div class="card bg-primary p-2 mb-3">
    <a class="text-white text-center font-weight-bold" href="{{ path('admin_mediatheque_drive') }}">
        Tableau<br/>de bord
    </a>
</div>
<div class="card bg-primary p-2 mb-3">
    <a class="text-white text-center font-weight-bold" href="{{ path('admin_mediatheque_drive_borne') }}">
        Borne<br/>du SAS
    </a>
</div>
<div class="card bg-primary p-2 mb-3">
    <a class="text-white text-center font-weight-bold" href="{{ path('admin_mediatheque_drive_scansretour') }}">
        Retours<br/>à traiter
    </a>
</div>