/* Permet de fixer le menu en haut de la page */
.sc4-header-fixe
{
    position : fixed;
    width: 100%;
}

/* Positionnement du menu */
#header_top
{
    position: relative;
}

/*****************************************/
/* Zone avec titre et logo du site - MINI*/
.sc4-header-logo
{
    position: absolute;
    z-index:2;
    background-image: url('../templates/bandeau_logo4.png');
    background-position: top right;
    height: 100%;
    font-weight: bold;
    text-align: right;
    padding: 1em;
    padding-right: 4em;
    margin-left: -1em;
}
.sc4-header-logo>span
{
    font-size: 2.6em;
    line-height: 1.2em;
    color: white;
}
.sc4-header-logo>span.sc4-header-soustitre
{
    visibility: hidden;
    position: absolute;
}
.sc4-header-logo>div.sc4-header-logo
{
    background-image: url('../templates/logo_guesnain.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 90px;
    position: absolute;
    right:190px;
}
/* Couleur en arrière plan du menu (hors container) */
.sc4-header-background
{
    position: absolute;
    background-color: coral;
    height: 100%;
    z-index: 1;
    background-image: url('../templates/bandeau_logo4.png');
    background-position: top right;
}
/******************************************/
/* Zone avec titre et logo du site - MAXI */
.sc4-header-big-logo
{
    position: absolute;
    z-index:2;
    background-image: url('../templates/bandeau_logo4.png');
    background-position: top right;
    height: 240px;
    font-weight: bold;
    text-align: right;
    padding: 1em;
    padding-right: 4em;
}
.sc4-header-big-logo>span
{
    color: white;
}
.sc4-header-big-logo>span.sc4-header-soustitre
{
    position: absolute;
    top: 156px;
    left: -100px;
    text-align:right;
    width: 100%;
    font-size: 1.8em;
    z-index:50;
    color: black;
}
.sc4-header-big-logo>div.sc4-header-logo
{
    background-image: url('../templates/logo_guesnain.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
.sc4-header-big-background
{
    position: absolute;
    height: 240px;
    z-index: 1;
    background-image: url('../templates/bandeau_logo4_cut.png');
    background-position: top right;
}

/* Mise en forme du diaporama */
.sc4-header-diaporama
{
    width: 100%;
    height: 600px;
    background-image: url('../templates/photo.jpg');
    background-size: cover;
    background-position: center;
}



/******************************************/
/*AJUSTEMENT SUIVANT LA TAILLE DE L'ECRAN */
/******************************************/

/* xs - telephone - <768px */
@media (min-width: 0px) 
{
    .sc4-header-big-logo>span.sc4-header-guesnain
    {
        font-size: 2.6em;
        line-height: 1.8em;
    }
}
/* sm - tablette - >=768px */
@media (min-width: 768px) 
{
    .sc4-header-logo
    {
        width: 320px;
    }
    .sc4-header-big-logo
    {
        width: 320px;
    }
}
/* md - portable - >=992px */
@media (min-width: 992px)
{
    .sc4-header-logo
    {
        width: 330px;
    }
    .sc4-header-big-logo
    {
        width: 330px;
    }
    .sc4-header-background
    {
        width: 1280px;
        margin-left: -1000px;
    }
    .sc4-header-big-logo>span.sc4-header-guesnain
    {
        font-size: 2.6em;
        line-height: 1.8em;
    }
    .sc4-header-big-logo>div.sc4-header-logo
    {
        width: 150px;
        height: 130px;
        right:200px;
        visibility: visible;
    }
    .sc4-header-big-background
    {
        width: 1000px;
        margin-left: -1000px;
    }
}
/* lg - ordinateur - >=1200px */
@media (min-width: 1200px) 
{
    .sc4-header-logo
    {
       width: 510px;
    }
    .sc4-header-big-logo
    {
        width: 510px;
    }
    .sc4-header-background
    {
        width: 1450px;
        margin-left: -1000px;
    }
    .sc4-header-big-logo>span.sc4-header-guesnain
    {
        font-size: 4em;
        line-height: 1.2em;
    }
    .sc4-header-big-logo>div.sc4-header-logo
    {
        width: 180px;
        height: 180px;
        right:320px;
        visibility: visible;
    }
    .sc4-header-big-background
    {
        width: 1150px;
        margin-left: -1000px;
    }
}













