{# require structure only #}
<div class='card'>
    <div class='card-header'>
        <h5 class="card-title mb-0">Contacts</h5>
    </div>
    <div class='card-body'>
        {# Affichage des numéros de téléphone #}
        {% for contact in structure.contacts %}
            {% if contact.type == 'telephone' %}
                <div class='row'>
                    <div class='col-2 text-center'>
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class='col-10'>
                        {{ contact.telephone.numero }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {# Affichage des mails #}
        {% for contact in structure.contacts %}
            {% if contact.type == 'mail' %}
                <div class='row'>
                    <div class='col-2 text-center'>
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class='col-10'>
                        {{ contact.mail.adresse }}
                    </div>
                </div>                            
            {% endif %}
        {% endfor %}

    </div>
    <div class='card-footer'>
    </div>
</div>