{# require structure only #}
<div class='card mb-3'>
    <div class='card-header'>
        <h5 class="card-title mb-0">Horaires</h5>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-2 text-center'>
                <i class="far fa-clock"></i>
            </div>
            <div class='col-10'>
                Horaires...
            </div>
        </div> 
    </div>
    <div class='card-footer'>
    </div>
</div>