{# require association only #}
<div class='col-md-3 col-sm-6'>
    <a href='{{ path('structure', {'slugstructure': association.structure.slug }) }}'>
        <div class="card mb-3">
            <img src='http://placehold.it/286x180' alt='{{ association.structure.nom }}' class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{ association.structure.nom }}</h5>
            </div>
        </div>
    </a>
</div>